
* {margin: 0vh;
    padding: 0px;

}
.header{
    width:100%;
    height: 50px;
    text-align: center;
    background-color: blue;
    color: rgba(230, 230, 230, 1);
    padding: auto;

}
#sidebar{
position: fixed;
width: 30%;
height: 100%;
left: -30%;
background-color: black;
transition: all .4s linear;
}
#sidebar li{
    color: white;
    font-size: 20px;
    padding: 30px;
    border-bottom: 1px solid gray;
    text-align: center;
    transition: all .8s linear;
    text-decoration: none;
    

}
.toggle-btn{
    cursor: pointer;
    position: absolute;
    left:105%;
    top:15px;

}
.toggle-btn span{
    display: block;
    background-color: black;
    width: 30px;
    height: 5px;
    margin: 3px;
}
#sidebar.active{
left:0px;

}
.count{
    float:right;
    display: flex;
    flex-direction: row;
    

    margin: 1px;
   
}
.sun{

    float: right;
    display: flex;
    flex-direction: row; 
    padding: 5px;
}
.new{
    padding-left: 50px;
    font-size: 20px;
}
.our{
    color:red;
    
    text-align: center;
}
.dis{
    display: none;
}
.img{
    display:flex;
    flex-direction: row;
    padding-left : 20px;
    padding-top : 10px;

}

.ann{
    background-image: url('./image/annimation01.jpg');
    position: relative;
    
    box-shadow: 1px 2px 5px 5px blueviolet;

    animation: sushant 15s infinite linear;
}
@keyframes sushant{
    0%{
        background-image: url('./image/annimation04.jpg');
    }
    25%{
     background-image: url('./image/milada-vigerova-p8Drpg_duLw-unsplash.jpg');
    }
    50%{
  background-image: url('./image/ussama-azam-xgNSlx7DjYM-unsplash.jpg');
    }
    75%{
        background-image: url('./image/signin.jpg');
        weith:20%;
    }
}
.ani:after{
    
    font-size: 25px;
    
    text-transform: uppercase;

    background-color: rgb(55, 0, 255);
    color: white;
    content: '';
    text-align: center;
   
    animation: text 10s infinite linear;
    
}
@keyframes text{
    0%{
     
         content: "DO";
         align-content: flex-end;
    }
    20%{
        content: "COME";
        
    }
    40%{
        content: "AND";
        align-content: center;
    }
    60%{
        content: "VISIT";
        align-content: center;
    }
    80%{
        content: "SANDHYA GARMENTS";
        align-content:flex-end;
    }

}
.hi{
    align-items: center;
}
.credit{
    margin-top: 30px;
    font-size: 25px;
    text-transform: uppercase;
    
    text-shadow: rgb(78, 47, 255);
}
.creimg{
    margin-left: 0%;
}

.button{
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.808);
    cursor: pointer;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 18px;

}
.fotter{
    background-color: purple;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width:100%;
    height: 400px;;
}
.column{
    flex: 33.33%;
    float:left;
    padding: 60px 150px ;
}
.row::after{
display: flex;

}
.logo{
    padding-top: 20%;
display: flex;
flex-direction: row;
    
    

}
.logo01{
    padding-left:10px;

}
.text{
    padding-top:10px;
}